/*-- loading fonts --*/

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v20-latin-regular.woff2") format("woff2");
}

/* lato-italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v20-latin-italic.woff2") format("woff2");
}

/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v20-latin-700.woff2") format("woff2");
}

/* lato-700italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v20-latin-700italic.woff2") format("woff2");
}

/*-- generel settings --*/
:root {
  --standard-color-1: #73561c;
  --standard-color-2: #003f03;

  --standard-text-color-main: #000;
  --standard-text-color-main-dark: #fff;
  --standard-text-color-link: #5f4209;
  --standard-text-color-hover: #fcbc67;

  --standard-background-color: #fff;
  --standard-background-color-gray: #f5f5f5;
  --standard-background-color-pink: #e8a6b6;
  --standard-background-color-green: #9eb8ae;
  --standard-background-color-dark: #000;

  --standard-padding-1: 1.2rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: var(--standard-text-color-main);
  transition: color 0.4s linear;
  text-decoration: none;
}
a[target="_blank"] {
  text-decoration: none;
}
/*-- maybe used later --*/
a[target="_blank"]::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-right: 4px;
}
a:hover {
  color: var(--standard-text-color-hover);
}
html,
body {
  _overflow-x: hidden;
}
html {
  font-size: 20px;
}
body {
  background-color: var(--standard-background-color);
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--standard-text-color-main);
  position: relative;
  font-size: 1rem;
  line-height: 1.4;
}

body > header,
body > main,
body > footer {
  _padding: var(--standard-padding-1);
}

body > main,
main > section,
footer.footer-main {
  margin-top: 2rem;
}

main {
  position: relative;
}
.main-inner,
.header-inner,
.section-inner {
  _max-width: 1280px;
  _max-width: 32rem;
  max-width: 35rem;
  margin: 0 auto;
  _position: relative;
}
.section-inner {
  padding: 2rem 1.5rem;
}
/*-- header-nav-bar with Logo  --*/
.logo-item-link {
  grid-area: logo;
  grid-column-start: 1;
  grid-column-end: col3-start;
  grid-row-start: 1;
  grid-row-end: 1;
  /*
  grid-column-start: 1;
  grid-column-end: four;
  grid-row-start: row1-start;
  grid-row-end: 2;
  */
}
.standard-link-item {
  grid-area: link-item;
  grid-row-start: 2;
  grid-row-end: 2;
  _max-width: 300px;
  _justify-self: start;
  _display: inline-block;
  /*
  grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  grid-row-end: span 1;
  */
}
/*
_.standard-link-item-1 {
nav :nth-child(1 of a.standard-link-item) {
*/
nav a.standard-link-item:nth-of-type(2) {
  _grid-column-start: 1;
  _grid-column-end: span col2-start;
  grid-column: 1 / span 1;

  _background-color: #ffcc22;
}
/*
.standard-link-item-2 {
*/
nav a.standard-link-item:nth-of-type(3) {
  _grid-column-start: 2;
  _grid-column-end: col3-start;
  grid-column: 2 / span 1;
  _grid-row-start: 2;
}
/*
.standard-link-item-3 {
*/
nav a.standard-link-item:nth-of-type(4) {
  _grid-column-start: 3;
  _grid-column-end: col4-start;
  grid-column: 3 / span 1;
  _grid-row-start: 2;
}
nav a.standard-link-item:last-of-type {
  justify-self: end;
}

.header-inner nav {
  padding: 0.5rem 0.8rem;
  display: grid;
  justify-content: space-between;
  _justify-items: start;
  _grid-column-gap: 1.5rem;
  grid-column-gap: 0;
  _grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 33% 33% 33%;

  grid-template-rows: auto;

  grid-template-areas:
    "logo logo logo"
    "link-item link-item link-item";
  _border: 2px solid #000;
  _grid-template-columns: 50px 50px 50px;
}
.header-inner nav a {
  font-size: 0.8rem;
}
.header-top-logo {
  display: block;
}
.logo-item-link svg {
  max-width: 6rem;
}

/*
I want: The Logo-nav-bar and the top-header-image, with h1 and teaser, in the top header.
I want also: The Logo-nav-bar as sticky, but the header-Logo not sticky.
This doesn't work, just with fixed, but not with sticky. So I decided to create a second header for the header-Image.
*/
header.header-top {
  _position: fixed;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 3px 2px rgba(95, 71, 71, 0.2);
  background-color: var(--standard-background-color);
  z-index: 10;
  _left: 0;
}
header.header-image {
  position: relative;
}

/*-- hr: not used yet, maybe later --*/
hr {
  margin: 3rem 0 3rem 0;
}
/*-- headlines, and other standard-formats --*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--standard-text-color-main);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6,
blockquote p {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}
.without-margin-to-bottom {
  margin: 0;
}

.primary-alternative-text-color {
  color: var(--standard-color-2);
}

/*-- blockquote: not used yet, maybe later --*/
blockquote {
  margin: 0;
  padding-left: 20px;
  font-size: 1.1rem;
  color: #7e0038;
  position: relative;
}
/*-- because I want the text in the following lines not under the bracket --*/
blockquote::before {
  content: "”";
  font-size: 2.8rem;
  position: absolute;
  top: -12px;
  left: 0;
}

blockquote {
  quotes: "“" "”" "‘" "’";
}

blockquote p:last-of-type::after {
  content: "“";
}
blockquote + figcaption {
  font-style: italic;
  font-size: 0.8rem;
}
/*--  --*/
article {
  margin-bottom: 1rem;
}

/*-- different bck-classes --*/
.bck-standard-gray {
  background-color: var(--standard-background-color-gray);
}
.bck-standard-pink {
  background-color: var(--standard-background-color-pink);
}
.bck-standard-green {
  background-color: var(--standard-background-color-green);
}
.bck-standard-dark {
  background-color: var(--standard-background-color-dark);
}
.bck-standard-dark,
.bck-standard-dark a {
  color: #fff;
}
/*-- img, button --*/
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
figure,
figure img {
  line-height: 1px;
}

.button {
  border: 3px solid #000;
  border-radius: 9px;
  text-decoration: none;
  padding: 0.75rem 1.75rem;
  display: inline-block;
  color: var(--standard-text-color-main);
  _background-image: linear-gradient(transparent, transparent);
  _transition: background-image 0.6s linear, color 0.6s linear;
  background-color: transparent;
  transition: color 0.6s linear, transform 0.6s ease-out,
    background-color 0.6s linear;
  _transition: color 0.6s linear;
}
/*-- I wanted an gradient-hover-effect, but this doesn't work without dirty workarounds --*/
.button:hover {
  _background-image: linear-gradient(#000, #fff);
  color: var(--standard-text-color-hover);
  background-color: #000;
  transform: scale(1.25, 1.25);
}

/*-- info or teaser-boxes, with frame --*/
.text-centered article {
  text-align: center;
}

.container-teaser-outer {
  display: block;
}
.container-teaser-inner {
  position: relative;
  display: inline-block;
  _border: 2px solid #636363;
  _border-radius: 7px;
  _padding: 5px 5px 0 5px;
  padding: 0 10px 0 0;
  _z-index: 3;
}
.container-teaser-inner + .container-teaser-inner {
  margin-top: 1rem;
}
/*
.container-teaser-inner-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #636363;
  border-radius: 7px;
  z-index: 6;
}
*/

.container-teaser-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #636363;
  border-radius: 7px;
  z-index: 3;
}

.container-teaser-inner-text {
  position: relative;
  padding: 0 0.75rem 1rem 0.75rem;
  text-align: left;
  z-index: 8;
}
.container-teaser-inner-text p:last-of-type {
  margin-bottom: 0;
}

.container-teaser-inner figure {
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  _transform: translate(-0.4rem, 0.4rem);
  margin-left: -11px;
  margin-top: 11px;
  margin-bottom: 1.5rem;
  _z-index: 2;
}

.link-teaser {
  position: relative;
  display: inline-block;
  border-bottom: 3px solid currentColor;
  _transform: rotate(12deg);
  transition: transform 0.2s linear, color 0.2s linear;
}
.link-teaser:hover {
  transform: rotate(10deg);
}

/*-- begin footer --*/
footer.footer-main {
  font-size: 0.75rem;
}

ul.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  _justify-content: space-between;
  row-gap: 1rem;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

footer.footer-main p {
  text-align: center;
  margin-top: 2rem;
  opacity: 0.5;
}
ul.footer-nav li a {
  border-bottom: 2px solid currentColor;
  opacity: 1;
  transition: opacity 0.6s linear;
}
ul.footer-nav li a:hover {
  opacity: 0.5;
}
ul.footer-nav li + li {
  _margin-top: 0.75rem;
}
/*-- end footer --*/

/*-- breakpoints. just 1 for the moment, could be more, in further steps. Or maybe it works already by changing this one e.g. to 1200 or so... --*/

@media screen and (min-width: 768px) {
  html {
    font-size: 40px;
  }
  /*-- Logo und nav-Leiste --*/
  .logo-item-link {
    align-self: center;
  }
  .standard-link-item {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  nav a.standard-link-item {
    font-size: 0.5rem;
    justify-content: center;
    align-self: center;
    _line-height: 100%;
    _vertical-align: middle;
  }
  nav a.standard-link-item:nth-of-type(2) {
    grid-column: 2 / span 1;
    _background-color: #ffcc22;
  }
  /*
  .standard-link-item-2 {
  */
  nav a.standard-link-item:nth-of-type(3) {
    grid-column: 3 / span 1;
  }
  /*
  .standard-link-item-3 {
  */
  nav a.standard-link-item:nth-of-type(4) {
    grid-column: 4 / span 1;
  }

  .header-inner nav {
    padding: 0.5rem 0;
    grid-column-gap: 1.2rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: "logo link-item link-item link-item";
  }
  /*-- ende Logo und Nav-Leiste --*/
  .section-inner {
    padding: 2.4rem 0;
  }
  .header-top-logo {
    display: inline-block;
  }
  .header-teaser-box p,
  .header-teaser-box h1 {
    color: #fff;
  }
  .header-teaser-box p {
    margin-bottom: 0;
  }
  .header-teaser-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 3rem;
    _display: flex;

    background-color: transparent;
  }
  .container-teaser-outer {
    display: flex;
    justify-content: space-between;
    /*-- items sollen nicht alle gleich hoch sein (stretch), deshalb flex-start --*/
    align-items: flex-start;
    column-gap: 1.25rem;
  }
  .container-teaser-inner {
    _flex-grow: 1;
    /*-- umd die 2 container gleich breit u machen --*/
    flex-basis: 50%;
  }
  .container-teaser-inner + .container-teaser-inner {
    margin-top: 0;
  }
  .header-teaser-box .section-inner {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .header-teaser-box article {
    margin-bottom: 0;
  }

  ul.footer-nav {
    flex-direction: row;
    column-gap: 1rem;
    justify-content: space-between;
  }
  footer.footer-main {
    font-size: 0.5rem;
  }
}
